;
}
.quick1_text--gray {
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}
.quick1_text--gray li {
  color: #a5a5a5;
  font-size: 14px;
  margin: 10px 0;
}
.quick1_text--ul {
  margin-left: 22px;
  padding-left: 22px;
  border-left: 1px solid #e5e5e5;
}
.quick1_bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
.quick1_bottom--left {
  max-width: 270px;
}
.quick1_bottom--ul {
  margin-top: 10px;
}
.quick1_bottom--li {
  margin: 0 5px;
  display: inline-block;
}
.quick1_bottom--input {
  display: none;
}
.quick1_bottom--input:checked + label {
  background: #ffb100;
  color: #fff;
}
.quick1_bottom--label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #a5a5a5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.quick1_bottom--calc {
  margin-top: 22px;
}
.quick1_bottom--parent {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 150px;
  height: 32px;
  border-radius: 5px 5px 0 0;
}
.quick1_bottom--child {
  height: 32px;
  background-color: #fafafa;
  border-radius: 5px 5px 0 0;
  width: 50%;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 32px;
  font-size: 14px;
  color: #a5a5a5;
  text-align: center;
}
.quick1_bottom--child.active {
  border: 2px solid #ffb100;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  color: #ffb100;
  background-color: #fff;
}
.quick1_bottom--body {
  width: 284px;
  height: 158px;
  border: 2px solid #ffb100;
  border-radius: 0 5px 5px;
  position: relative;
  padding: 18px 26px 18px 16px;
}
.quick1_bottom--body::after {
  content: '';
  width: 71px;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
}
.quick1_bottom--line {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.quick1_bottom--line:last-child {
  border-bottom: none;
}
.quick1_bottom--p {
  font-size: 14px;
  line-height: 120%;
  color: #000;
}
.quick1_bottom--calcin {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 120px;
  height: 20px;
  margin-left: 20px;
}
.quick1_bottom--calcin .numb {
  width: 50px;
  height: 21px;
  background: #fff;
  box-shadow: inset 0 0 4.25806px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: #ffb100;
  text-align: center;
}
.quick1_bottom--calcin .minus,
.quick1_bottom--calcin .plus {
  background: #ffb100;
  border-radius: 3px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: RobotoMedium, Arial, sans-serif;
  cursor: pointer;
}
.quick1_bottom--red {
  margin-left: 10px;
  font-size: 20px;
  line-height: 120%;
  color: #ffb100;
  font-family: RobotoMedium, Arial, sans-serif;
}
.quick1_form {
  max-width: 295px;
}
.quick1_form--title {
  font-size: 20px;
  color: #000;
}
.quick1_form--input {
  width: 100%;
  height: 40px;
  background: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 10px;
}
.quick1_form--input:first-child {
  margin-top: 0;
}
.quick1_form--input::-webkit-input-placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--input::-ms-input-placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--input::placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--textarea {
  width: 100%;
  height: 40px;
  background: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}
.quick1_form--textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--textarea::-ms-input-placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--textarea::placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.quick1_form--btn {
  cursor: pointer;
  margin-top: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#68de65),
    to(#090)
  );
  background: linear-gradient(180deg, #68de65 0, #090 100%);
  border-radius: 30px;
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 40px;
  line-height: 38px;
  width: 100%;
}
.quick1_form--btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#68de65),
    to(#68de65)
  );
  background: linear-gradient(180deg, #68de65 0, #68de65 100%);
}
.quick1_form--btn:active {
  background: #090;
}
@media screen and (max-width: 1313px) {
  .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .footer_nav ul + ul {
    margin-left: 0;
  }
  .footer_nav--contacts li {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .footer_row {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1310px) {
  .tab_card,
  .watched_card {
    margin: auto;
  }
  .news_item2 {
    width: 46%;
  }
  .news_item2 img {
    height: 390px;
  }
}
@media screen and (max-width: 1300px) {
  .characteristic_form--input {
    width: 32.5%;
    margin: 0;
  }
  .characteristic_reviews--down {
    width: 100%;
  }
  .characteristic_form--row {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .header_top {
    display: none;
  }
  .header_bottom {
    background-color: #525252;
    color: #fff;
  }
  .header_burger {
    display: inline-block;
  }
  .header_logo--desk,
  .header_nav {
    display: none;
  }
  .header_logo--mob {
    display: inline-block;
  }
  .header_search {
    background-color: #fff;
    border-radius: 30px;
  }
  .header_tels--mob {
    display: inline-block;
  }
  .header_tels--img,
  .header_tels--row {
    display: none;
  }
  .header_tels--hidden {
    left: auto;
    right: -10px;
  }
  .header_buttons {
    display: none;
  }
  .header_buttons--item {
    margin: 5px 0;
  }
  .header_basket {
    display: inline-block;
  }
  .partners {
    overflow: hidden;
  }
  .news_row {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .news_right {
    margin-left: 20px;
  }
  .news_item img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .news_item2 {
    display: none;
  }
  .news_item3,
  .news_item4 {
    width: 365px;
  }
  .card_dop {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    margin-bottom: 25px;
  }
  .card_text--row2 {
    flex-wrap: wrap;
  }
  .zakazano_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  .zakazano_right {
    margin-top: 25px;
  }
  .opt_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .opt_gray {
    margin: 20px 0 0;
  }
  .blog .news_row {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .blog .news_item1 {
    width: 49%;
  }
  .blog .news_item3,
  .blog .news_item4 {
    width: 100%;
  }
  .blog .news_right {
    width: 49%;
    margin-left: 0;
  }
  .blog .news_item2 {
    -webkit-box-ordinal-group: 5;
    order: 4;
    display: block;
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1074px) {
  .tab_card,
  .watched_card {
    width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 20px;
  }
  .intro_block {
    width: calc(75% - 30px);
    padding: 100px 0 0 120px;
  }
  .intro_btn {
    width: 250px;
  }
  .intro_arrow {
    display: -webkit-box;
    display: flex;
  }
  .trig {
    padding: 60px 0 100px;
  }
  .trig_item {
    max-width: 125px;
  }
  .trig_item--text {
    font-size: 16px;
  }
  .trig_dots {
    display: -webkit-box;
    display: flex;
  }
  .menu .tab_text {
    font-size: 16px;
    margin-left: 10px;
  }
  .menu .tab_arrow {
    display: none;
  }
  .reviews_arrow1 {
    left: 30%;
  }
  .reviews_arrow2 {
    right: 30%;
  }
  .reviews_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .reviews_item--text {
    margin: 20px 0 0;
  }
  .watched_arrow1 {
    left: 30%;
  }
  .watched_arrow2 {
    right: 30%;
  }
  .about_img,
  .about_text {
    width: calc(100% - 30px);
  }
  .about_img img {
    width: 100%;
    margin-top: 30px;
  }
  .follow_form--input {
    width: 213px;
  }
  .follow_form--btn {
    width: 160px;
  }
  .follow_socials {
    display: none;
  }
  .footer_col:not(:first-child) {
    padding-left: 40px;
  }
  .footer_col:last-child {
    padding-left: 25px;
  }
  .top_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    height: auto;
    padding: 25px 0;
  }
  .filter {
    margin-top: 25px;
  }
  .filter_button {
    display: -webkit-box;
    display: flex;
  }
  .catalog_left {
    display: none;
  }
  .catalog_right {
    width: 100%;
  }
  .catalog_right--row {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .card_text--row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .card_text--gray {
    -webkit-box-ordinal-group: 3;
    order: 2;
    margin-top: 25px;
  }
  .card_text--block {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
  .zakazano {
    margin-top: 25px;
  }
  .zakazano_row {
    margin-top: 25px;
    padding-top: 20px;
  }
  .zakazano_left--form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .zakazano_left--input {
    width: 345px;
  }
  .zakazano_left--textarea {
    width: 100%;
  }
  .zakazano_left--bottom {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .zakazano_left--btn {
    margin-left: 25px;
  }
  .contacts_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .contacts_form {
    margin-top: 35px;
  }
  .rev_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .rev_item--text {
    margin: 20px 0 0;
  }
  .error_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .error_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .error_img {
    margin-top: 66px;
    height: 350px;
  }
  .error_img span {
    font-size: 197.674px;
    line-height: 232px;
  }
  .onas1 {
    padding-top: 40px;
    background-position: left;
  }
  .onas2 {
    margin-top: 60px;
  }
  .onas2_p {
    width: 100%;
    max-width: inherit;
  }
  .onas2_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .onas2_right {
    max-width: inherit;
    width: 100%;
    display: none;
  }
  .onas2_item {
    max-width: 125px;
  }
  .onas2_item--text {
    font-size: 16px;
  }
  .trig_about {
    display: block;
  }
  .delivery {
    margin-top: 30px;
  }
  .delivery_row {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .delivery_right {
    margin-top: 35px;
  }
  .comp_top {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .comp_filter {
    margin-top: 20px;
  }
  .comp_item--line {
    padding-top: 0;
  }
  .comp_item--col {
    width: 50%;
    max-width: inherit;
    margin-top: 20px;
  }
  .opt {
    margin-top: 30px;
  }
  .opt_row {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .opt_p {
    max-width: inherit;
  }
  .opt_div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .opt_gray {
    margin: 0 0 0 23px;
  }
  .opt_right {
    margin-top: 50px;
    max-width: inherit;
  }
  .opt_item {
    padding: 0 10px;
  }
  .back,
  .cities {
    margin-top: 30px;
  }
  .cities_item:last-child {
    display: none;
  }
  .blog {
    margin-top: 30px;
  }
}
@media screen and (max-width: 870px) {
  .tab_card,
  .watched_card {
    width: 303px;
  }
}
@media screen and (max-width: 768px) {
  .intro_block {
    width: calc(100% - 30px);
  }
  .reviews_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .reviews_item--text {
    margin: 0 0 0 20px;
  }
  .rev_item {
    width: calc(100% - 30px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .rev_item--text {
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 760px) {
  .filter_div .select.select1,
  .filter_toogle {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header_logo {
    display: none;
  }
  .header_search {
    margin-left: 3px;
  }
  .header_search--input {
    width: 191px;
    border-radius: 30px;
  }
  .header_search--btn,
  .header_tels {
    display: none;
  }
  .mobmenu {
    padding: 15px 10px 100px;
  }
  .mobmenu_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .mobmenu_currency {
    margin-top: 15px;
  }
  .mobmenu1 li {
    margin: 30px 0;
  }
  .mobmenu1 li > a {
    font-size: 16px;
  }
  .intro_block {
    padding: 40px 0 0;
  }
  .intro_p {
    font-size: 14px;
  }
  .intro_btn {
    margin-top: 25px;
    width: 100%;
  }
  .intro_arrow {
    top: 94%;
    padding: 0 5px;
  }
  .trig_item {
    max-width: inherit;
  }
  .menu .tab {
    width: 15%;
    padding: 15px 0;
  }
  .menu .tab.active {
    width: 60%;
  }
  .menu .tab.active .tab_text {
    color: #a5a5a5;
    display: inline-block;
    font-size: 16px;
  }
  .menu .tab_text {
    display: none;
  }
  .menu .tab_head {
    padding: 10px 30px;
  }
  .menu .tab_head--mob {
    display: inline-block;
    font-size: 20px;
    color: #fff;
  }
  .menu .tab_head--mnu {
    display: none;
  }
  .menu .tab_slider .slick-list {
    padding: 0;
  }
  .menu .tab_dots {
    display: -webkit-box !important;
    display: flex !important;
    opacity: 1;
  }
  .menu .tab_card {
    width: 248px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
  }
  .reviews_arrow {
    display: none;
  }
  .reviews_arrow2 {
    right: 0;
  }
  .news {
    margin-top: 100px;
  }
  .news_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .news_right {
    margin: 20px 0 0;
  }
  .news_item {
    width: 100%;
    height: 320px;
  }
  .news_item3 .news_text--btn {
    display: block;
  }
  .news_item4 {
    display: none;
  }
  .news_text--btn {
    width: 260px;
    font-size: 16px;
  }
  .watched_card {
    width: 248px;
    margin: auto;
    box-shadow: none;
    border: 1px solid #c4c4c4;
  }
  .watched_slider .slick-list {
    padding: 0;
  }
  .watched_arrow {
    display: none;
  }
  .watched_arrow1 {
    left: 0;
  }
  .watched_arrow2 {
    right: 0;
  }
  .about_text--title {
    font-size: 26px;
  }
  .about_text--more {
    font-size: 16px;
  }
  .follow_form {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }
  .follow_form--input {
    width: 100%;
    border-radius: 30px;
    border-right-width: 2px;
  }
  .follow_form--btn {
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
  }
  .footer_col {
    padding-right: 20px;
  }
  .footer_col:not(:first-child) {
    padding-left: 20px;
  }
  .header_search--all {
    display: none;
  }
  .header_search--left {
    border: none;
  }
  .breadcrumbs ul {
    flex-wrap: wrap;
  }
  .catalog_card {
    width: 248px;
    margin: 0 auto 22px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
  }
  .card_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  .card_text {
    margin-left: 0;
    margin-top: 20px;
  }
  .card_text--gray {
    -webkit-box-ordinal-group: 2;
    order: 1;
    margin-top: 0;
  }
  .card_text--block {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
  .card_text--trig {
    width: 100%;
  }
  .characteristic_row .tab {
    margin: 0 15px;
  }
  .characteristic_reviews {
    margin-top: 20px;
  }
  .characteristic_reviews--up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .characteristic_reviews--item {
    width: 100%;
  }
  .characteristic_reviews--item:nth-child(n + 2) {
    margin-top: 20px;
  }
  .zakazano_left--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .zakazano_left--label2 {
    margin: 10px 0 0;
  }
  .zakazano_left--radio {
    width: 30px;
    height: 30px;
  }
  .zakazano_left--form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .zakazano_left--input {
    width: 100%;
  }
  .zakazano_right--item {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .zakazano_right--img {
    width: 70px;
    height: 70px;
  }
  .zakazano_right--p {
    margin-left: 10px;
    max-width: 140px;
  }
  .zakazano_right--price {
    margin-left: 25px;
  }
  .zakazano_right--calc {
    margin: 10px 0 0;
    width: 100%;
  }
  .zakazano_right--calc .numb {
    width: 132px;
  }
  .error_block {
    text-align: center;
  }
  .error_img span {
    top: 25%;
  }
  .onas1 {
    min-height: 460px;
  }
  .action_card {
    width: 248px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
  }
  .cities_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .cities_item:first-child {
    display: none;
  }
  .nblock_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .nblock_item--img {
    width: 100%;
  }
  .nblock_item--p {
    margin: 20px 0 0;
  }
  .blog .news_row {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .blog .news_item1,
  .blog .news_right {
    width: 100%;
  }
  .quick1 {
    padding: 20px 15px;
    width: 100%;
  }
  .quick1_top {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .quick1_text {
    margin: 15px 0 0;
  }
  .quick1_text--img {
    width: 100%;
    height: 270px;
  }
  .quick1_text--gray {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .quick1_text--ul {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
    margin-top: -10px;
  }
  .quick1_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .quick1_form {
    margin-top: 25px;
    max-width: inherit;
  }
}
@media screen and (max-width: 544px) {
  .menu .tab_card {
    width: 100%;
  }
  .reviews_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .reviews_item--text {
    margin: 20px 0 0;
  }
  .news_text--desc {
    height: 60px;
    overflow: hidden;
  }
  .watched_card {
    width: 100%;
  }
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .footer_col {
    padding: 0 0 25px;
    border-bottom: 1px solid #232323;
    border-right: none;
  }
  .footer_col:not(:first-child) {
    padding: 0 0 25px;
    margin-top: 25px;
  }
  .footer_col:last-child {
    padding: 0 0 25px;
  }
  .footer_bottom {
    margin-top: 25px;
  }
  .filter {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .filter_div .select2 {
    width: 164px;
    margin-left: 0;
  }
  .catalog_card {
    width: 85%;
  }
  .card_photo {
    width: 100%;
  }
  .card__slider {
    width: 100%;
    height: inherit;
  }
  .characteristic_row .tabs {
    overflow: scroll;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .characteristic_mob {
    display: block;
    font-size: 18px;
    color: #000;
  }
  .zakazano_left {
    width: 100%;
  }
  .zakazano_left--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .zakazano_left--price {
    -webkit-box-ordinal-group: 3;
    order: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }
  .zakazano_left--btn {
    -webkit-box-ordinal-group: 2;
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .marks_item--text {
    height: inherit;
    margin-left: 0;
    width: 100%;
  }
  .marks_item--img {
    max-width: inherit;
  }
  .rev_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .rev_item--text {
    margin: 20px 0 0;
  }
  .action_card {
    width: 100%;
  }
  .comp_filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .comp_btn {
    margin-top: 15px;
    margin-left: 0;
  }
  .comp_item--col {
    width: 100%;
  }
  .opt {
    margin-top: 20px;
  }
  .opt_row {
    margin-top: 15px;
  }
  .opt_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .opt_gray {
    margin: 20px 0 0;
  }
  .opt_item {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  .card_text--row2 .card_text--gray {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .card_text--gray {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */
